@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./variables";
@import "./mixins";
@import url('https://fonts.googleapis.com/css?family=Sintony:400,700');
// @import url('https://fonts.googleapis.com/css?family=Ubuntu');


// -----------------------------------------------------------------------------
// --- Tags ---
// -----------------------------------------------------------------------------

html{
    font-size: 17px;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Sintony', sans-serif;
}

.index-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    .logo {
        width: 300px;
        height: auto;
    }
}

#aboutIcon {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    font-size: 1.5rem;
}

#kanjiInput {

    ul.nav {
        li {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        li.active {
            background: transparent;
        }
    }

    .tab-pane {
        $borderTab: 1px solid #ddd;
        border-left: $borderTab;
        border-right: $borderTab;
        border-bottom: $borderTab;
        padding: 0.5rem;
    }

    input, textarea, button {
        outline: none;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .wanikani-input {
        width: 100%;
        overflow: auto;
        resize: none;
        margin-bottom: 0.3rem;
    }
    textarea {
        width: 100%;
        overflow: auto;
        resize: none;
    }

    .apiKeyHelp {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }
}

#kanjiList {
    .item {
        font-size: 2rem;
        padding: 0.5rem;
        background: #eee;
        min-width: 3rem;
        min-height: 3rem;
        text-align: center;
        margin-right: 0.5rem;
    }
}

// Kanji Stroke
#kanjiStrokes {
    .item {
        margin-bottom: 1rem;
        .meta {
            padding: 1rem;
            border: solid black 1px;

            h3.character {
                font-size: 5em;
                text-align: center;
            }

            .printButton {
                width: 100%;
            }

            table.readings{
                .title{
                    font-weight: bold;
                }
            }
        }
        .stroke {
            svg {
                margin-right: 0.25rem;
            }
        }
    }
}

#kanjiAboutModal {
    .logo {
        height: 30px;
        width: auto;
    }
}

#kanji-worksheet {
    .kanji-strokes {
        text-align: center;
        svg {
            margin-left: 0.25rem;
            margin-right: 0.25rem;
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
        }
    }
    ul.kanji-info {
        list-style-type: none;
        margin: 0;
        padding: 0;

        .character {
            font-size: 2rem;
        }

        li {
            .reading-type {
                font-weight: bold;
            }
            margin-right: 1rem;
            display: inline;
        }
    }
    .branding {
        display: block;
        text-align: right;
        .logo{
            width:200px;
            height: auto;
        }
    }
}

@media screen {
    #kanji-worksheet {
        .branding {
            display: none !important;
        }
    }
}

@media print {
    #aboutIcon {
        display: none !important;
    }

    .index-header {
        display: none !important;
    }
}
