<div id="main" class="container">
    <h1>Kanji Strokes</h1>
    <div id="kanjiInput">
        <h2>1. Get Kanij</h2>
        <div>
            <ul  class="nav nav-tabs">
                <li class="active">
                    <a  href="#1b" data-toggle="tab">Kanji Input Form</a>
                </li>
                <li>
                    <a href="#2b" data-toggle="tab">WaniKani API</a>
                </li>
            </ul>
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="1b">
                    <form id="form-list">
                        <textarea placeholder="Input Kanji List (100 max)" maxlength="100" rows="5" name="kanji"></textarea>
                        <input type="submit" class="btn btn-primary btn-md" value="Get Kanji">
                    </form>
                </div>
                <div class="tab-pane" id="2b">
                    <form id="form-wanikani">
                        <div class="apiKeyHelp"><a href="https://www.wanikani.com/account">Get your Public API Key</a></div>
                        <div>
                            <input placeholder="WaniKani Public API Key" maxlength="100" name="wanikani-api-key" class="wanikani-input"></input>
                        </div>
                        <div>
                            <input type="submit" class="btn btn-primary btn-md" value="Get WaniKani Kanji">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="kanjiList">
        <h2> 2. Kanji List</h2>
        <div id="kanjiList-available">List of available kanji appears here.</div>
    </div>

    <div id="kanjiStrokes">
        <h2>3. Kanji Strokes</h2>
        <div id="kanjiStrokes-listing">
            Available kanji strokes appear here.
        </div>
    </div>
</div>
