[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/ubuntu/japanese-tools
ExecStart=/home/ubuntu/japanese-tools/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/var/log/gunicorn/japanese-tools.sock japanesetools.wsgi

[Install]
WantedBy=multi-user.target
